#search
{
    height:80px;
    width: 800px;
    font-size:32pt;
    color: #93c2c7;
    background-color: #00000030;
    border: none;
    outline: none;
}  

input[type=text]:focus {
  border: none;
  outline: none;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

/* $color-text: #dedce5; */
/* Sakura.css v1.3.1
 * ================
 * Minimal css theme.
 * Project: https://github.com/oxalorg/sakura/
 */
/* Body */

.display {
  max-width: 52em;
  margin: 0 auto;
}
html {
    font-size: 62.5%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif; 
    font-weight: 400;
    margin: 0px 0px;
  }
  
  body {
    font-size: 1.8rem;
    line-height: 1.618;
    max-width: 52em;
    margin: 0 auto;
    color: #93c2c7;
    background-color: #002B36;
    padding: 0px; }
  
  @media (max-width: 684px) {
    body {
      font-size: 1.53rem; } }
  
  @media (max-width: 382px) {
    body {
      font-size: 1.35rem; } }

      
  em {
      font-size: 1.6rem;
      color: rgb(118, 143, 147)
  }

  .outlink{
    display: inline-flex;

    background-color:  #004a5b;
    flex-direction: row;
    margin: 0 20px;
    padding: 0px 10px;
    border-radius: 8px;
  } 
  .outlink a:link{
    color: white;
    font-weight: 400;
    font-size: 12px;
  }
  .outlink a:visited {
    color: white;
  }

  .entry{
    display: flex;
  }

  .entry-left {
    margin-right: 10px;
    padding: 10px 10px;
  }
  .entry img{
    background-color: white;
  }
  .entry-right{
    width: 600px;
  }
  


  h1{
    font-weight: 300;
    font-size: 60px;
    padding: 0px 0px;
    margin: 0px 0px;
  }

  h2, h3, h4, h5, h6 {
    line-height: 1.1;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-weight: 500;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word; }
  
  
  h2 {
    font-size: 2.00em; }
  
  h3 {
    font-size: 1.75em; }
  
  h4 {
    font-size: 1.5em; }
  
  h5 {
    font-size: 1.25em; }
  
  h6 {
    font-size: 1em; }
  
  p {
    margin-top: 0px;
    margin-bottom: 0px; }
  
  small, sub, sup {
    font-size: 75%; }
  
  hr {
    border-color: #2aa198; }
  
  a {
    text-decoration: none;  
    color: #b13b04; }
    a:hover {
      color:#b13b04;
      border-bottom: 2px solid #b13b04; }
    a:visited {
      color: #b13b04; }
  

   ul {
        display: inline;
        list-style-type: none;
        margin: 0 5px;
        padding: 0 0;
      }

  li {
    max-width: none;
    display:inline;
    float: right;
    margin-right: 8rem;
    font-size: 12px;
    margin-top: 0px;  
  }


  blockquote {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 1em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-right: 0.8em;
    border-left: 5px solid #2aa198;
    margin-bottom: 2.5rem;
    background-color: #073642; }
  
  blockquote p {
    margin-bottom: 0; }
  
  
  /* Pre and Code */
  pre {
    background-color: #073642;
    display: block;
    padding: 1em;
    overflow-x: auto;
    margin-top: 0px;
    margin-bottom: 2.5rem; }
  
  code {
    font-size: 0.9em;
    padding: 0 0.5em;
    background-color: #073642;
    white-space: pre-wrap; }
  
  pre > code {
    padding: 0;
    background-color: transparent;
    white-space: pre; }
  
  /* Tables */
  table {
    text-align: justify;
    width: 100%;
    border-collapse: collapse; }
  
  td, th {
    padding: 0.5em;
    border-bottom: 1px solid #073642; }
  
  
  textarea {
    width: 100%; }
  


  
      

canvas{
    display:inline-block;
}
#appParent{
    display:inline-block;
}

